@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,400;0,500;0,600;0,700;1,100&display=swap");

$title-font: "Texturina", serif;

body,
html {
    overflow-y: auto !important;
    font-size: 16px;

    --v-anchor-base: var(--v-link-lighten3);
}

.dr-nav {
    font-weight: 700;
    letter-spacing: 0.5px;

}

.v-application {
    .v-application--wrap {
        background-color: hsl(240, 22%, 10%);
        background-image: url("assets/img/body-bg.jpg");
        background-repeat: repeat;
    }

    .theme--dark.v-app-bar.v-toolbar.v-sheet {
        background-color: hsl(240, 22%, 12%);
    }

    .theme--dark.v-navigation-drawer {
        background-color: hsla(240, 22%, 20%, 0.15);

        .v-list-item__title {
            letter-spacing: 0.025rem;
        }
        .v-icon {
            padding: 0 0.7rem;
        }
    }

    .v-navigation-drawer__border {
        width: 0;
    }

    h1,
    h1.logo,
    h2,
    h2.subtitle {
        font-family: $title-font, sans-serif;
        font-weight: 600;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 2rem 0 1.25rem 0;
    }

    h1.logo {
        font-size: 2rem;
        line-height: 2rem;
        margin: 0;

        .v-icon {
            color: var(--v-primary-lighten3);
            padding: 0 0.15rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    h1.subtitle,
    h2.subtitle {
        font-size: 1.15rem;
        line-height: 1.15rem;
        font-weight: 400;
        color: var(--v-silver-darken1);
        margin-top: 0.25rem;
    }

    h3 {
        font-weight: 400;
        font-size: 1.2rem;
    }

    h3.subtitle {
        font-size: 1rem;
        color: var(--v-silver-darken1);
        font-weight: 400;
    }

    .theme--dark.v-card {
        background-color: hsla(240, 22%, 14%, 0.5);
    }

    .theme--dark.v-card--hover:hover {
        background-color: hsla(240, 22%, 14%, 0.75);
    }

    .theme--dark.v-data-table {
        background-color: hsla(240, 22%, 14%, 0.5);
    }

    tbody tr:hover {
        background-color: hsl(240, 22%, 20%) !important;
    }

    .theme--dark.v-tabs-items {
        background-color: transparent;
    }

    a {
        text-decoration: none;

        &:hover {
            color: var(--v-link-lighten4);
        }
    }

    .neon {
        box-shadow: 0 0 50px var(--v-primary-lighten1);
    }
}

// Heroes
.sor {
    color: #26a69a !important;
}

.nec {
    color: #00bcd4 !important;
}

.ama {
    color: #ffd54f !important;
}

.dru {
    color: #ff8a65 !important;
}

.asn {
    color: #ae4ebe !important;
}

.pal {
    color: #e0e0e0 !important;
}

.bar {
    color: #e57373 !important;
}
