@import "~bulma/sass/utilities/initial-variables";

// Colors
$white: hsl(0, 0%, 95%);
$orange: hsl(14, 100%, 39%);
$yellow: hsl(48, 100%, 43%);
$gold: hsl(51, 93%, 58%);
$bronze: hsl(30, 64%, 53%);
$green: hsl(105, 54%, 35%);
$turquoise: hsl(171, 100%, 39%);
$cyan: hsl(204, 71%, 35%);
$blue: hsl(248, 54%, 80%);
$blue-lighter: hsl(248, 54%, 84%);
$purple: hsl(248, 54%, 39%); // Brand primary color
$purple-neon: #7c4dff;
$purple-dark: hsl(248, 54%, 20%);
$red: hsl(0, 53%, 55%);

// Heroes
$sor: #26A69A;
$nec: #00BCD4;
$ama: #FFD54F;
$dru: #FF8A65;
$asn: #ae4ebe;
$pal: #E0E0E0;
$bar: #e57373;

// Dark colors that go lighter with each level
$black: hsl(0, 0%, 3%);
$black-bis: hsl(0, 0%, 5%);
$black-ter: hsl(0, 0%, 7%);
$grey-darker: hsl(0, 0%, 9%);
$grey-dark: hsl(0, 0%, 12%);
$grey-lighter: hsl(0, 0%, 19%);
$grey-er: hsl(0, 0%, 35%);
$grey: hsl(0, 0%, 70%);

// Derived colors
$primary: $purple;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $grey-lighter;
$dark: $grey-dark;

$scheme-main: $grey-dark;
$scheme-main-bis: $grey-darker;
$scheme-main-ter: $black-ter;
$text: $white;
$text-strong: $white;
$link: $blue;
$border: $grey-lighter;

// Body
$body-background-color: $black;
$link-hover: $blue-lighter;
$section-padding: 2rem .75rem;
$footer-background-color: $black;

// Sizes
$size-1: 2rem;
$size-2: 1.75rem;
$size-3: 1.5rem;
$size-4: 1.35rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.8rem;

// Title
$title-color: $white;

//Navbar
$navbar-height: 3rem;
$navbar-box-shadow-size: 0 2px 3px 0px;
$navbar-box-shadow-color: $black-bis;
$navbar-dropdown-border-top: 2px solid $link;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $grey-lighter;
$navbar-item-active-color: $link;
$navbar-item-active-background-color: $dark;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-hover-background-color: $grey-lighter;
$navbar-dropdown-item-active-background-color: $grey-lighter;

//Tabs
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-style: none;
$tabs-toggle-link-border-style: none;
$tabs-toggle-link-hover-background-color: $grey-lighter;
$tabs-link-color: $white;
$tabs-link-hover-color: $white;

// Hero
$hero-body-padding: 2rem .75rem;
$hero-body-padding-small: .75rem;
$hero-body-padding-medium: 2rem .75rem;
$hero-body-padding-large: 9rem .75rem;

// Table
$table-cell-border: 1px solid $border;
$table-row-hover-background-color: $grey-lighter;
$table-striped-row-even-hover-background-color: $grey-lighter;