@import "~bulma/sass/utilities/initial-variables";

$family-sans-serif: "Helvetica", "Arial", sans-serif;

//Colors
$light: #2a2a36;
$lighter: #464659;
$dark: #1d1d1d;
$dark-secondary: #212121;
$dark-blue: #151233;
$black: #121212;
$grey: #2b2b2b;
$lightlink: #5c51a0;
$link: #b2a8f6;
$primary: #31277c;
$secondary: #232045;
$unique: #dcc78c;

$info: #3f3494;
$success: #94ef99;
$warning: #da7171;
$danger: #efec94;

$size-1: 1.5rem;
$size-2: 1.4rem;
$size-3: 1.3rem;
$size-4: 1.2rem;
$size-5: 1.1rem;
$size-6: 1rem;
$size-7: .85rem;

//Table
$table-color: $white;
$table-head-cell-color: $white;
$table-cell-heading-color: $white;
$table-background-color: $dark;
$table-striped-row-even-background-color: $dark-secondary;
$table-head-background-color: $dark-secondary;
$table-cell-border: 1px solid $grey;
$table-cell-border-width: 0;
$table-head-cell-border-width: 0;
$table-striped-row-even-hover-background-color: $secondary;
$table-row-hover-background-color: $secondary;

//Tabs
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-style: none;
$tabs-toggle-link-border-style: none;
$tabs-toggle-link-hover-background-color: $info;
$tabs-link-color: $white;
$tabs-link-hover-color: $white;

//Nav
$navbar-background-color: $dark-blue;
$navbar-item-color: $grey;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: none;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: none;
$navbar-breakpoint: $tablet;
$navbar-dropdown-border-top: 2px solid $dark-blue;
$navbar-dropdown-background-color: $dark-secondary;
$navbar-dropdown-item-active-background-color: none;
$navbar-dropdown-item-active-color: $white;
$navbar-dropdown-item-hover-background-color: $link;

//Footer
$footer-background-color: none;
$footer-padding: 3rem 3rem 3rem;

//Section
$section-padding: 1.5rem .75rem;

//Input
$input-placeholder-color: $black;

//Responsive breakpoints
$desktop: 1152px + (2 * $gap);
$widescreen: 1344px + (2 * $gap);

//Titles
$title-color: $white;
$title-size: $size-4;

$subtitle-color: $white-ter;
$subtitle-size: $size-5;

//Hero
$hero-body-padding: 1.5rem 1.5rem;
$hero-body-padding-medium: 4rem 1.5rem;
$hero-body-padding-large: 10rem 1.5rem;

//Card
$card-background-color: $dark;
$card-footer-border-top: 1px solid #262626;
$card-color: $white;
$card-header-color: $white;
$card-header-background-color: $dark-secondary;
$card-footer-background-color: $dark;

//Modal card
$modal-card-head-background-color: $dark-secondary;
$modal-card-body-background-color: $dark;
$modal-card-title-color: $white;
$modal-card-head-border-bottom: 1px solid #262626;
$modal-card-foot-border-top: 1px solid #262626;

//Form
$label-color: $white;

//Radius
$radius: 4px;